# ZeroClick electrical convention: triggered = detached, open = attached.
# Query and subsequent checks execute synchronously in native Kalico Python.
[gcode_macro _ZEROCLICK]
variable_preflight: [1, 100]
variable_side: [1, 118]
variable_dock: [28, 118]
variable_exit: [28, 100]
variable_clearance: 15
variable_speed: 100
gcode: !!include ../macros/python/zeroclick.py

[gcode_macro DEPLOY_PROBE]
gcode:
  _ZEROCLICK ACTION=attach

[gcode_macro STOW_PROBE]
gcode:
  _ZEROCLICK ACTION=detach

[gcode_macro RETURN_PROBE_TO_DOCK]
gcode:
  STOW_PROBE

[gcode_macro DEPLOY_IF_STOWED]
gcode:
  DEPLOY_PROBE

[gcode_macro STOW_IF_DEPLOYED]
gcode:
  STOW_PROBE

[gcode_macro _ZEROCLICK_OPERATION]
gcode: !!include ../macros/python/probe_operation.py

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST_BASE
gcode:
  _ZEROCLICK_OPERATION COMMAND=_Z_TILT_ADJUST_BASE {rawparams}

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE_BASE
gcode:
  _ZEROCLICK_OPERATION COMMAND=_BED_MESH_CALIBRATE_BASE {rawparams}

[gcode_macro PROBE]
rename_existing: _PROBE_BASE
gcode:
  _ZEROCLICK_OPERATION COMMAND=_PROBE_BASE {rawparams}

[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY_BASE
gcode:
  _ZEROCLICK_OPERATION COMMAND=_PROBE_ACCURACY_BASE {rawparams}

[gcode_macro PROBE_CALIBRATE]
rename_existing: _PROBE_CALIBRATE_BASE
gcode:
  _ZEROCLICK_OPERATION COMMAND=_PROBE_CALIBRATE_BASE {rawparams}
